[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.2.0"
django-admin-logs = ">=1.2.0"
django-cors-headers = ">=4.4.0"
django-crispy-forms = ">=2.2.0"
ols-py = ">=1.1.0"
pygithub = ">=2.6.0"
pyld = ">=2.0.0"
pymysql = ">=1.1.1"

[dev-packages]

[requires]
python_version = "3.13"
