{% extends 'base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-0">Add Ontology Server</h4>
                        </div>
                    </div>
                </div>
                <div id="form" class="card-body panel-responsive-220">
                    <form id="addform" action="/servers/add/" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}"></label>
                            {{ form.name }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.abbrev.errors }}
                            <label for="{{ form.abbrev.id_for_label }}"></label>
                            {{ form.abbrev }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.desc.errors }}
                            <label for="{{ form.desc.id_for_label }}"></label>
                            {{ form.desc }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.home.errors }}
                            <label for="{{ form.home.id_for_label }}"></label>
                            {{ form.home }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.apiurl.errors }}
                            <label for="{{ form.apiurl.id_for_label }}"></label>
                            {{ form.apiurl }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.apikey.errors }}
                            <label for="{{ form.apikey.id_for_label }}"></label>
                            {{ form.apikey }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.version.errors }}
                            <label for="{{ form.version.id_for_label }}"></label>
                            {{ form.version }}
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            {{ form.type.errors }}
                            <label for="{{ form.type.id_for_label }}"></label>
                            {{ form.type }}
                        </div>
                        <div class="row">
                            <div class="float-end">
                                <input type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
{% endblock %}
